section.page3_footer
	div.footer_block
		div.footer_block__title company
		div Shop
		div About
		div Contact
		div Blog
	div.footer_block.footer_line
		img.footer_block__logo(src="../img/logo.png")
		div Ocolus- the ultimate WordPress E-commerce toolkit that helps 
		div you sell anything. The best choice for your next personal.
		div @2018 Ocolus. All rights reserved.
	div.footer_block
		div.footer_block__title help
		div Terms
		div Privacy
		div Returns
		div Track Order
