body
    header
        logo
        menu
        burger
    main
        header
        	div
        		img
        	div
        		p
        	main
        		h1
				div
					main
						section
						section
							div

			