.header{
	position: absolute;
	z-index: 99999;
	bottom: 100%;
	margin: calc(-1em - 2px - 40px) 0;
	padding: 0 40px;

	width: 100%;

	display: flex;
	justify-content: space-between;
	color: white;
	text-shadow: 0 0 10px rgb(255, 0, 0);

	&_right {
		display: flex;
	}
	

	&_menu{
		display: flex;
		// background-color: rgba(0, 255, 0, 0.5);
		background-image: linear-gradient(to right, rgba( 0,255,0,0 ) 2%, rgba( 0,255,0,0.1 ) 8%, rgba( 0,255,0,0.9 ) 50%, rgba( 0,255,0,0.1 ) 93%, rgba( 0,255,0,0 ) 98%);
	}

	&_menu-item {
		margin-left: 30px;
		margin-top: 10px;
		position: relative;
	}

	&_bar {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 30px;
		align-items: flex-end;
	}

	&_sale {
		width: 16px;
		height: 16px;
		background-image: url("../img/Ellipse_1.svg");
		position: absolute;
		margin-right: -8px;
		text-align: center;
		bottom: 30%;
		left: 45%;
		font: 11px 'Poppins', sans-serif;
		// z-index: 10;
	}
	
}